<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous" />
  <script src="https://kit.fontawesome.com/6e597438e3.js" crossorigin="anonymous"></script>
  <!-- <script defer src="script.js"></script> -->
  <title>PG HUNT HOME</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="off-canvas-profile.css">
  <link rel="stylesheet" href="styles.css" />
  <link rel="stylesheet" href="cardstyles.css">
</head>

<body>
  <img src="/photos/logo.png" alt="logo" id="pg_hunt_logo">
  <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample" id="filter-button">
    <img src="/photos/filter-logo.jpg" alt="filter-logo" id="filter-logo">
  </a>
  <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-body">
      <form action="/index" method="post" id="form2">
        <nav>
          <div class="filter">
            <h5 id="offcanvasExampleLabel">Select Filter</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            <div class="type-div">
              <label for="type">Gender </label>
    
              <select class="type" name="gender">
    
                <option value="none"></option>
                <option value="Both">Both</option>
                <option value="Boys">Only Boys</option>
                <option value="Girls">Only Girls</option>
              </select>
            </div>
            <div class="distance-div">
              <label for="distance">Parking </label>
    
              <select class="distance" name="parking">
                <option value="none"></option>
                <option value="Yes">yes</option>
                <option value="No">no</option>
    
              </select>
            </div>
            <div class="food-div">
              <label for="food">Food </label>
    
              <select class="food" name="food">
                <option value="none"></option>
                <option value="No">No</option>
                <option value="veg">Veg</option>
                <option value="Non-veg">Non Veg</option>
    
              </select>
            </div>
            <div class="occupancy-div">
              <label for="occupancy">Occupancy </label>
    
              <select class="occupancy" name="occupancy">
                <option value="none"></option>
                <option value="single">Single Sharing</option>
                <option value="double">Double Sharing</option>
                <option value="triple">Triple Sharing</option>
              </select>
            </div>
    
            <div class="occupancy-div">
              <label for="sort">Sort by</label>
    
              <select class="occupancy" name="sort">
                <option value="">No sorting</option>
                <option value="price">Price</option>
                <option value="rating">Rating</option>
                <!-- <option value="triple">Triple Sharing</option> -->
              </select>
            </div>
    
            <button type="submit" class="filter-button btn btn-primary">FILTER</button>
          </div>
        </nav>
      </form>
    </div>
  </div>
  <form action="/index" method="post" id="form">
    <nav>
      <div class="filter">
        <div class="type-div">
          <label for="type">Gender </label>

          <select class="type" name="gender">

            <option value="none"></option>
            <option value="Both">Both</option>
            <option value="Boys">Only Boys</option>
            <option value="Girls">Only Girls</option>
          </select>
        </div>
        <div class="distance-div">
          <label for="distance">Parking </label>

          <select class="distance" name="parking">
            <option value="none"></option>
            <option value="Yes">yes</option>
            <option value="No">no</option>

          </select>
        </div>
        <div class="food-div">
          <label for="food">Food </label>

          <select class="food" name="food">
            <option value="none"></option>
            <option value="No">No</option>
            <option value="veg">Veg</option>
            <option value="Non-veg">Non Veg</option>

          </select>
        </div>
        <div class="occupancy-div">
          <label for="occupancy">Occupancy </label>

          <select class="occupancy" name="occupancy">
            <option value="none"></option>
            <option value="single">Single Sharing</option>
            <option value="double">Double Sharing</option>
            <option value="triple">Triple Sharing</option>
          </select>
        </div>

        <div class="occupancy-div">
          <label for="sort">Sort by</label>

          <select class="occupancy" name="sort">
            <option value="">No sorting</option>
            <option value="price">Price</option>
            <option value="rating">Rating</option>
            <!-- <option value="triple">Triple Sharing</option> -->
          </select>
        </div>

        <button type="submit" class="filter-button btn btn-primary">FILTER</button>
      </div>
    </nav>
  </form>
  <button class="btn " type="button" data-bs-toggle="offcanvas" id="profilebtn" data-bs-target="#offcanvasRight"
    aria-controls="offcanvasRight"></button>


  <!-- <div class="body"> -->

  <div class="container">
    <div class="welcome-heading">
      <h1 class="inner-heading">Find your new home at <br> PG Hunt</h1>
      <br>
      <h3 class="inner-subheading">Got some preferences? Use the search filter for your convenience</h3>
    </div>
    <div class="cards grid-row">

      <% let id=0 %>
        <% mess.forEach(element=> { %>
          <% id ++ ; %>

          <div class="card">
            <div class="card-top">
              <img src="<%= element.Images %>" alt="Blog Name" />
            </div>
            <div class="card-bottom">
              <div class="card-info">
                <h1>
                  <%= element.Highlight %>
                </h1>
              </div>
              <!-- <span class="time">Best facility at an affordable price...</span> -->

              <button class="button-18" role="button">
               ₹ <%= element.Price %>
              </button>

              <span>Operating Since <%= element.Eastablished %></span>

              <br />
              <div class="icons">
                <i class="icon fas fa-star fa-lg"> <%= element.Rating %></i>

                <i class="icon fas fa-bed fa-lg">
                  <%= element.Occupancy %>
                </i>

                <i class="icon fas fa-car fa-lg">
                  <%= element.Parking %>
                </i>
              </div>
              <div class="card-bottom flex-row">
                <button type="button" class="btn btn-primary" data-toggle="modal"
                  data-target="#exampleModalCenter<%= id %>">
                  Read more...
                </button>
              </div>
            </div>
          </div>



          <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter<%= id %>" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog my modal-dialog-centered mw-90 " role="document">
              <div class="modal-content mw-90">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">
                    <%= element.Highlight %>
                  </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">

                  <!-- shiv-jyoti's original   -->

                  <div class="row no-gutters">
                    <div class="col-md-4">
                      <iframe src="<%= element.Location %>" width="100%" height="450" style="border: 0"
                        allowfullscreen="" loading="lazy"></iframe>
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text">
                          <%= element.Description %>
                        </p>



                        <div class="contact-button">
                          <form class="btn pay"><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_I1Aay4VNr8xnVe" async> </script> </form>
                          <button type="button" class="bf btn btn-danger">
                            <%= element.Contact %>
                          </button>
                        </div>




                        <div>
                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Deposit Amount
                              <span class="badge badge-primary badge-pill">
                               ₹ <%= element.Price %>
                              </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Distance in km
                              <span class="badge badge-primary badge-pill"><%= element.Distance %></span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Notice Period
                              <span class="badge badge-primary badge-pill">
                                <%= element.Notice %>
                              </span>
                            </li>
                          </ul>
                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Food Availability
                              <span class="badge badge-primary badge-pill">
                                <%= element.Food %>
                              </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Parking
                              <span class="badge badge-primary badge-pill">
                                <%= element.Parking %>
                              </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Number of Beds
                              <span class="badge badge-primary badge-pill"><%= element.Availability %></span>
                            </li>
                          </ul>

                          <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Preferred Tennants
                              <span class="badge badge-primary badge-pill">
                                <%= element.Gender %>
                              </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Twin Sharing
                              <span class="badge badge-primary badge-pill">
                                <%= element.Occupancy %>
                              </span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                              Operating Since
                              <span class="badge badge-primary badge-pill">
                                <%= element.Eastablished %>
                              </span>
                            </li>
                          </ul>
                        </div>

                        <br />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                  <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                </div>
              </div>
            </div>
          </div>


          <!-- off-canvas -->
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
            <div class="offcanvas-header">
              <h3 id="offcanvasRightLabel">Your Profile</h3>
              <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
            </div>
            <div class="cardoff p-4" id="profile">
              <div class=" image d-flex flex-column justify-content-center align-items-center">
                <div class="new-btn btn-secondary"><img
                    src="https://avatar.oxro.io/avatar.svg?name=<%=sname%>&length=2&background=38155c&rounded=100%&bold=true&caps=3"
                    alt="" srcset=""></div>
                <span class="name mt-3">
                  <%= sname %>
                </span> <span class="idd">STUDENT</span>
                <!--here type- student or PG owner-->
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number">
                  Email:
                    <%= semail %>
                  </span> </div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"> <span class="number"> Phone
                    Number:
                    <%= snumber %>
                  </span> </div>
                <!-- <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button> </div> -->
                <div class="text mt-3"> <span>Created Profile at PG Hunt. <br> Maintained by PG Hunt team </span> </div>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"> <span><i
                      class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                      class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span> </div>
                <div class=" px-2 rounded mt-4 date "> <span class="join">Joined May,2021</span> </div>
                <a type="button" class="bf btn btn-danger" href="/login">
                  LOG OUT
                </a>
              </div>
            </div>
          </div>

          <% }); %>

    </div>
  </div>
  <!-- </div> -->




  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>

  <script>
    fetch(`https://docs.google.com/spreadsheets/d/1Km982kWj1T9Iro_aBoZot9Ao0ePi2_eUzFDJQcnZcio/gviz/tq?tqx=out:json`)
      .then(res => res.text())
      .then(text => {
        const json = JSON.parse(text.substr(47).slice(0, -2))
        console.log(json);
      })
  </script>
</body>

</html>